* {
    box-sizing: border-box;    
}

.footer {
    background-color:black;
    text-align:center;
    padding:10px;
    margin-top:7px; 
    position:fixed;
    width:100%; 
    bottom:0;
    color:white
}

.header {
    background-color:black;
    padding:15px;
    text-align:center; 
    color:white
}

.product-detail {
    height: 100%;
    margin: 30px;
    text-align: center;
}
