.container {
    width: 1920px;
    height: 150px;
    text-align: center;
    /*position: absolute;*/
    bottom: 10px;
    margin-bottom: 50px;
}

.item {
    width: 150px;
    height: 150px;
}


.container .lbl-addcart {
    background: #0054A5; 
    color: white; 
    width: 90%; 
    display: block; 
    margin: auto; 
    font-weight: bold;  
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; 
    font-size: 10pt;
}

.container img {
    width: 80%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nome-produto {
    position: relative;
    bottom: 0;
    left: 0;
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
}

.container button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
}